<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>
<body>
    <h1>Student Data will be Here</h1>
    <table border="1" cellspacing="0">
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Email</td>
            <td>Operation</td>
        </tr>
        <% students.forEach(Student=>{ %>
            <tr>
                <td><%= Student.name  %></td>
                <td><%= Student.age  %></td>
                <td><%= Student.email  %></td>
                <td><a href="/ui/delete/<%= Student._id  %>">Delete</a></td>
                
                <td><a href="/ui/update/<%= Student._id  %>">Update</a></td>
            </tr>
            <% }) %>
    </table>
</body>
</html>